In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

# Provider data

In [2]:
df_provider = pd.read_csv(r"..\data\Train-1542865627584.csv")

In [3]:
df_provider.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [4]:
df_provider.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5410 entries, 0 to 5409
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provider        5410 non-null   object
 1   PotentialFraud  5410 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB

In [5]:
df_provider.describe()

        Provider PotentialFraud
count       5410           5410
unique      5410              2
top     PRV51001             No
freq           1           4904

In [6]:
df_provider.shape

(5410, 2)

In [7]:
df_provider.columns

Index(['Provider', 'PotentialFraud'], dtype='object')

In [8]:
df_provider['Provider'].nunique()

5410

In [9]:
df_provider.isnull().sum()

Provider          0
PotentialFraud    0
dtype: int64

# Beneficiary data

In [10]:
df_beneficiary = pd.read_csv(r"..\data\Train_Beneficiarydata-1542865627584.csv")

In [11]:
df_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [12]:
df_beneficiary.shape

(138556, 25)

In [13]:
df_beneficiary.columns

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [14]:
df_beneficiary.isnull().sum()

BeneID                                  0
DOB                                     0
DOD                                137135
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
dtype: int64

In [15]:
df_beneficiary['DOD'].unique()

array([nan, '2009-12-01', '2009-09-01', '2009-05-01', '2009-07-01',
       '2009-08-01', '2009-10-01', '2009-06-01', '2009-04-01',
       '2009-02-01', '2009-11-01', '2009-03-01'], dtype=object)

In [16]:
df_beneficiary['isDead'] = df_beneficiary['DOD'].notna().astype(int)

In [17]:
df_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,isDead
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,2,1,1,36000,3204,60,70,0
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,0,0,30,50,0
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,1,2,2,2,0,0,90,40,0
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,1,1,1,1,2,0,0,1810,760,0
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,1,2,2,2,2,0,0,1790,1200,0

In [18]:
df_beneficiary.drop(columns='DOD', inplace = True)

In [19]:
df_beneficiary.head()

,BeneID,DOB,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,isDead
0,BENE11001,1943-01-01,1,1,0,39,230,12,12,1,...,1,1,2,1,1,36000,3204,60,70,0
1,BENE11002,1936-09-01,2,1,0,39,280,12,12,2,...,2,2,2,2,2,0,0,30,50,0
2,BENE11003,1936-08-01,1,1,0,52,590,12,12,1,...,2,1,2,2,2,0,0,90,40,0
3,BENE11004,1922-07-01,1,1,0,39,270,12,12,1,...,1,1,1,1,2,0,0,1810,760,0
4,BENE11005,1935-09-01,1,1,0,24,680,12,12,2,...,1,2,2,2,2,0,0,1790,1200,0

In [20]:
df_beneficiary.isnull().sum()

BeneID                             0
DOB                                0
Gender                             0
Race                               0
RenalDiseaseIndicator              0
State                              0
County                             0
NoOfMonths_PartACov                0
NoOfMonths_PartBCov                0
ChronicCond_Alzheimer              0
ChronicCond_Heartfailure           0
ChronicCond_KidneyDisease          0
ChronicCond_Cancer                 0
ChronicCond_ObstrPulmonary         0
ChronicCond_Depression             0
ChronicCond_Diabetes               0
ChronicCond_IschemicHeart          0
ChronicCond_Osteoporasis           0
ChronicCond_rheumatoidarthritis    0
ChronicCond_stroke                 0
IPAnnualReimbursementAmt           0
IPAnnualDeductibleAmt              0
OPAnnualReimbursementAmt           0
OPAnnualDeductibleAmt              0
isDead                             0
dtype: int64

# Inpatient data

In [21]:
df_inpatient = pd.read_csv(r"..\data\Train_Inpatientdata-1542865627584.csv")

In [22]:
df_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [23]:
df_inpatient.shape

(40474, 30)

In [24]:
df_inpatient.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [25]:
df_inpatient.isnull().sum()

BeneID                        0
ClaimID                       0
ClaimStartDt                  0
ClaimEndDt                    0
Provider                      0
InscClaimAmtReimbursed        0
AttendingPhysician          112
OperatingPhysician        16644
OtherPhysician            35784
AdmissionDt                   0
ClmAdmitDiagnosisCode         0
DeductibleAmtPaid           899
DischargeDt                   0
DiagnosisGroupCode            0
ClmDiagnosisCode_1            0
ClmDiagnosisCode_2          226
ClmDiagnosisCode_3          676
ClmDiagnosisCode_4         1534
ClmDiagnosisCode_5         2894
ClmDiagnosisCode_6         4838
ClmDiagnosisCode_7         7258
ClmDiagnosisCode_8         9942
ClmDiagnosisCode_9        13497
ClmDiagnosisCode_10       36547
ClmProcedureCode_1        17326
ClmProcedureCode_2        35020
ClmProcedureCode_3        39509
ClmProcedureCode_4        40358
ClmProcedureCode_5        40465
ClmProcedureCode_6        40474
dtype: int64

In [26]:
df_inpatient['has_attending_physician'] = df_inpatient['AttendingPhysician'].notna().astype(int)
df_inpatient['has_operating_physician'] = df_inpatient['OperatingPhysician'].notna().astype(int)
df_inpatient['has_other_physician'] = df_inpatient['OtherPhysician'].notna().astype(int)

In [27]:
df_inpatient['DeductibleAmtPaid'].head()

0    1068.0
1    1068.0
2    1068.0
3    1068.0
4    1068.0
Name: DeductibleAmtPaid, dtype: float64

In [28]:
df_inpatient['DeductibleAmtPaid'].nunique()

1

In [29]:
df_inpatient['DeductibleAmtPaid'] = df_inpatient['DeductibleAmtPaid'].fillna(0)

In [30]:
df_inpatient.isnull().sum()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
AttendingPhysician           112
OperatingPhysician         16644
OtherPhysician             35784
AdmissionDt                    0
ClmAdmitDiagnosisCode          0
DeductibleAmtPaid              0
DischargeDt                    0
DiagnosisGroupCode             0
ClmDiagnosisCode_1             0
ClmDiagnosisCode_2           226
ClmDiagnosisCode_3           676
ClmDiagnosisCode_4          1534
ClmDiagnosisCode_5          2894
ClmDiagnosisCode_6          4838
ClmDiagnosisCode_7          7258
ClmDiagnosisCode_8          9942
ClmDiagnosisCode_9         13497
ClmDiagnosisCode_10        36547
ClmProcedureCode_1         17326
ClmProcedureCode_2         35020
ClmProcedureCode_3         39509
ClmProcedureCode_4         40358
ClmProcedureCode_5         40465
ClmProcedureCode_6         40474
has_attending_physician        0
has_operating_physician        0
has_other_physician            0
dtype: int64

In [31]:
# making list of all the diagnosis codes columns
diagnosis_cols = [col for col in df_inpatient.columns if col.startswith("ClmDiagnosisCode")]
diagnosis_cols

['ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_6',
 'ClmDiagnosisCode_7',
 'ClmDiagnosisCode_8',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_10']

In [32]:
df_inpatient[diagnosis_cols].isnull().sum()

ClmDiagnosisCode_1         0
ClmDiagnosisCode_2       226
ClmDiagnosisCode_3       676
ClmDiagnosisCode_4      1534
ClmDiagnosisCode_5      2894
ClmDiagnosisCode_6      4838
ClmDiagnosisCode_7      7258
ClmDiagnosisCode_8      9942
ClmDiagnosisCode_9     13497
ClmDiagnosisCode_10    36547
dtype: int64

In [33]:
df_inpatient['TotalDiagnosisCount'] = df_inpatient[diagnosis_cols].notnull().sum(axis=1)
df_inpatient['TotalDiagnosisCount']

0         9
1         3
2         6
3         9
4         9
         ..
40469    10
40470     9
40471     9
40472     9
40473     9
Name: TotalDiagnosisCount, Length: 40474, dtype: int64

In [34]:
row_index = 0  # For the first row (indexing is zero-based)
claim_details = df_inpatient.iloc[row_index]
print(claim_details)

BeneID                      BENE11001
ClaimID                      CLM46614
ClaimStartDt               2009-04-12
ClaimEndDt                 2009-04-18
Provider                     PRV55912
InscClaimAmtReimbursed          26000
AttendingPhysician          PHY390922
OperatingPhysician                NaN
OtherPhysician                    NaN
AdmissionDt                2009-04-12
ClmAdmitDiagnosisCode            7866
DeductibleAmtPaid              1068.0
DischargeDt                2009-04-18
DiagnosisGroupCode                201
ClmDiagnosisCode_1               1970
ClmDiagnosisCode_2               4019
ClmDiagnosisCode_3               5853
ClmDiagnosisCode_4               7843
ClmDiagnosisCode_5               2768
ClmDiagnosisCode_6              71590
ClmDiagnosisCode_7               2724
ClmDiagnosisCode_8              19889
ClmDiagnosisCode_9               5849
ClmDiagnosisCode_10               NaN
ClmProcedureCode_1                NaN
ClmProcedureCode_2                NaN
ClmProcedureCode_3                NaN
ClmProcedureCode_4                NaN
ClmProcedureCode_5                NaN
ClmProcedureCode_6                NaN
has_attending_physician             1
has_operating_physician             0
has_other_physician                 0
TotalDiagnosisCount                 9
Name: 0, dtype: object

In [35]:
procedure_cols = [col for col in df_inpatient.columns if col.startswith('ClmProcedureCode')]
total_procedure_codes = len(procedure_cols)
print(total_procedure_codes)

6

In [36]:
df_inpatient['TotalProcedureCount'] = df_inpatient[procedure_cols].notnull().sum(axis=1)
df_inpatient['TotalProcedureCount']

0        0
1        1
2        0
3        1
4        1
        ..
40469    1
40470    1
40471    1
40472    0
40473    1
Name: TotalProcedureCount, Length: 40474, dtype: int64

In [37]:
df_inpatient.isnull().sum()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
AttendingPhysician           112
OperatingPhysician         16644
OtherPhysician             35784
AdmissionDt                    0
ClmAdmitDiagnosisCode          0
DeductibleAmtPaid              0
DischargeDt                    0
DiagnosisGroupCode             0
ClmDiagnosisCode_1             0
ClmDiagnosisCode_2           226
ClmDiagnosisCode_3           676
ClmDiagnosisCode_4          1534
ClmDiagnosisCode_5          2894
ClmDiagnosisCode_6          4838
ClmDiagnosisCode_7          7258
ClmDiagnosisCode_8          9942
ClmDiagnosisCode_9         13497
ClmDiagnosisCode_10        36547
ClmProcedureCode_1         17326
ClmProcedureCode_2         35020
ClmProcedureCode_3         39509
ClmProcedureCode_4         40358
ClmProcedureCode_5         40465
ClmProcedureCode_6         40474
has_attending_physician        0
has_operating_physician        0
has_other_physician            0
TotalDiagnosisCount            0
TotalProcedureCount            0
dtype: int64

In [38]:
df_inpatient['ProcedureDiagnosisRatio'] = df_inpatient['TotalProcedureCount'] / (df_inpatient['TotalDiagnosisCount']+1)
df_inpatient['ProcedureDiagnosisRatio']

0        0.000000
1        0.250000
2        0.000000
3        0.100000
4        0.100000
           ...
40469    0.090909
40470    0.100000
40471    0.100000
40472    0.000000
40473    0.100000
Name: ProcedureDiagnosisRatio, Length: 40474, dtype: float64

In [39]:
df_inpatient['TotalProcedureCount'].describe()

count    40474.000000
mean         0.733607
std          0.761113
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: TotalProcedureCount, dtype: float64

In [40]:
df_inpatient['TotalDiagnosisCount'].describe()

count    40474.000000
mean         8.087365
std          1.851830
min          1.000000
25%          8.000000
50%          9.000000
75%          9.000000
max         10.000000
Name: TotalDiagnosisCount, dtype: float64

In [41]:
df_inpatient['TotalProcedureCount'].quantile([0.95, 0.97, 0.99])  #95% of TotalProcedureCount is less than 2 and 5% is more than or equal to 2.

0.95    2.0
0.97    2.0
0.99    3.0
Name: TotalProcedureCount, dtype: float64

In [42]:
df_inpatient['TotalDiagnosisCount'].quantile([0.7,0.90,0.91,0.99])

0.70     9.0
0.90     9.0
0.91    10.0
0.99    10.0
Name: TotalDiagnosisCount, dtype: float64

In [43]:
max_diag = df_inpatient['TotalDiagnosisCount'].max()
df_inpatient['DiagnosisSlotsFull'] = (df_inpatient['TotalDiagnosisCount'] == max_diag).astype(int)
df_inpatient['DiagnosisSlotsFull'].sum()

3927

In [ ]:
df_inpatient['HighProcedure_95'] = (df_inpatient['TotalProcedureCount'] > 2).astype(int)

In [45]:
df_inpatient.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'has_attending_physician',
       'has_operating_physician', 'has_other_physician', 'TotalDiagnosisCount',
       'TotalProcedureCount', 'ProcedureDiagnosisRatio', 'DiagnosisSlotsFull',
       'HighProcedure_95'],
      dtype='object')

In [46]:
provider_features = df_inpatient.groupby('Provider').agg(
    TotalClaims=('Provider', 'count'),
    AvgDiagnosisCount=('TotalDiagnosisCount', 'mean'),
    AvgProcedureCount=('TotalProcedureCount', 'mean'),
    PctFullDiagnosis=('DiagnosisSlotsFull', 'mean'),
    PctHighProcedure=('HighProcedure_95', 'mean'),
    AvgProcDiagRatio=('ProcedureDiagnosisRatio', 'mean')
).reset_index()

In [47]:
provider_features.head()

,Provider,TotalClaims,AvgDiagnosisCount,AvgProcedureCount,PctFullDiagnosis,PctHighProcedure,AvgProcDiagRatio
0,PRV51001,5,7.200000,0.600000,0.000000,0.0,0.068571
1,PRV51003,62,8.112903,0.774194,0.064516,0.0,0.093941
2,PRV51007,3,7.333333,0.333333,0.000000,0.0,0.041667
3,PRV51008,2,7.500000,1.000000,0.000000,0.0,0.121429
4,PRV51011,1,8.000000,0.000000,0.000000,0.0,0.000000

In [48]:
inpatient_provider = provider_features.rename(columns={
    'TotalClaims': 'In_TotalClaims',
    'AvgDiagnosisCount': 'In_AvgDiagnosisCount',
    'AvgProcedureCount': 'In_AvgProcedureCount',
    'PctFullDiagnosis': 'In_PctFullDiagnosis',
    'PctHighProcedure': 'In_PctHighProcedure',
    'AvgProcDiagRatio': 'In_AvgProcDiagRatio'
})

# Outpatient data

In [49]:
df_outpatient = pd.read_csv(r"..\data\Train_Outpatientdata-1542865627584.csv")

In [50]:
df_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [51]:
df_outpatient.shape

(517737, 27)

In [52]:
df_outpatient.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')

In [53]:
df_outpatient.isnull().sum()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
AttendingPhysician          1396
OperatingPhysician        427120
OtherPhysician            322691
ClmDiagnosisCode_1         10453
ClmDiagnosisCode_2        195380
ClmDiagnosisCode_3        314480
ClmDiagnosisCode_4        392141
ClmDiagnosisCode_5        443393
ClmDiagnosisCode_6        468981
ClmDiagnosisCode_7        484776
ClmDiagnosisCode_8        494825
ClmDiagnosisCode_9        502899
ClmDiagnosisCode_10       516654
ClmProcedureCode_1        517575
ClmProcedureCode_2        517701
ClmProcedureCode_3        517733
ClmProcedureCode_4        517735
ClmProcedureCode_5        517737
ClmProcedureCode_6        517737
DeductibleAmtPaid              0
ClmAdmitDiagnosisCode     412312
dtype: int64

In [54]:
df_outpatient['AttendingPhysician'].nunique()

74109

In [55]:
df_outpatient['has_attending_physician'] = df_outpatient['AttendingPhysician'].notna().astype(int)
df_outpatient['has_operating_physician'] = df_outpatient['OperatingPhysician'].notna().astype(int)
df_outpatient['has_other_physician'] = df_outpatient['OtherPhysician'].notna().astype(int)

In [56]:
df_outpatient['DeductibleAmtPaid'] = df_outpatient['DeductibleAmtPaid'].fillna(0)

In [57]:
diagnosis_cols = [col for col in df_outpatient.columns if col.startswith("ClmDiagnosisCode")]
diagnosis_cols

['ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_6',
 'ClmDiagnosisCode_7',
 'ClmDiagnosisCode_8',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_10']

In [58]:
df_outpatient['TotalDiagnosisCount'] = df_inpatient[diagnosis_cols].notnull().sum(axis=1)
df_outpatient['TotalDiagnosisCount']

0         9.0
1         3.0
2         6.0
3         9.0
4         9.0
         ...
517732    NaN
517733    NaN
517734    NaN
517735    NaN
517736    NaN
Name: TotalDiagnosisCount, Length: 517737, dtype: float64

In [59]:
procedure_cols = [col for col in df_outpatient.columns if col.startswith('ClmProcedureCode')]
total_procedure_codes = len(procedure_cols)
print(total_procedure_codes)

6

In [60]:
df_outpatient['TotalProcedureCount'] = df_outpatient[procedure_cols].notnull().sum(axis=1)
df_outpatient['TotalProcedureCount']

0         0
1         0
2         0
3         0
4         0
         ..
517732    0
517733    0
517734    0
517735    0
517736    0
Name: TotalProcedureCount, Length: 517737, dtype: int64

In [61]:
df_outpatient['TotalProcedureCount'].unique()

array([0, 1, 2, 4, 3], dtype=int64)

In [62]:
df_outpatient['TotalDiagnosisCount'].quantile([0.7,0.90,0.91,0.99])

0.70     9.0
0.90     9.0
0.91    10.0
0.99    10.0
Name: TotalDiagnosisCount, dtype: float64

In [63]:
df_outpatient['TotalProcedureCount'].quantile([0.95, 0.97, 0.99])  #95% of TotalProcedureCount is less than 2 and 5% is more than or equal to 2.

0.95    0.0
0.97    0.0
0.99    0.0
Name: TotalProcedureCount, dtype: float64

In [64]:
df_outpatient['HasProcedure'] = (df_outpatient['TotalProcedureCount'] > 0).astype(int)

In [65]:
df_outpatient['Out_ProcedureDiagnosisRatio'] = df_outpatient['TotalProcedureCount'] / (df_outpatient['TotalDiagnosisCount']+1)
df_outpatient['Out_ProcedureDiagnosisRatio']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
517732    NaN
517733    NaN
517734    NaN
517735    NaN
517736    NaN
Name: Out_ProcedureDiagnosisRatio, Length: 517737, dtype: float64

In [66]:
max_diag = df_outpatient['TotalDiagnosisCount'].max()
df_outpatient['DiagnosisSlotsFull'] = (df_outpatient['TotalDiagnosisCount'] == max_diag).astype(int)
df_outpatient['DiagnosisSlotsFull'].sum()

3927

In [67]:
outpatient_provider = df_outpatient.groupby('Provider').agg(
    TotalClaims=('Provider', 'count'),
    AvgDiagnosisCount=('TotalDiagnosisCount', 'mean'),
    AvgProcedureCount=('TotalProcedureCount', 'mean'),
    PctFullDiagnosis=('DiagnosisSlotsFull', 'mean'),
    PctHasProcedure=('HasProcedure', 'mean'),
    AvgProcDiagRatio=('Out_ProcedureDiagnosisRatio', 'mean')
).reset_index()

In [68]:
outpatient_provider = outpatient_provider.rename(columns={
    'TotalClaims': 'Out_TotalClaims',
    'AvgDiagnosisCount': 'Out_AvgDiagnosisCount',
    'AvgProcedureCount': 'Out_AvgProcedureCount',
    'PctFullDiagnosis': 'Out_PctFullDiagnosis',
    'PctHasProcedure': 'Out_PctHasProcedure',
    'AvgProcDiagRatio': 'Out_AvgProcDiagRatio'
})

In [69]:
outpatient_provider.head()

,Provider,Out_TotalClaims,Out_AvgDiagnosisCount,Out_AvgProcedureCount,Out_PctFullDiagnosis,Out_PctHasProcedure,Out_AvgProcDiagRatio
0,PRV51001,20,9.000000,0.0,0.000000,0.0,0.0
1,PRV51003,70,8.444444,0.0,0.014286,0.0,0.0
2,PRV51004,149,7.333333,0.0,0.006711,0.0,0.0
3,PRV51005,1165,8.060976,0.0,0.007725,0.0,0.0
4,PRV51007,69,9.500000,0.0,0.028986,0.0,0.0

In [70]:
outpatient_provider.describe()

,Out_TotalClaims,Out_AvgDiagnosisCount,Out_AvgProcedureCount,Out_PctFullDiagnosis,Out_PctHasProcedure,Out_AvgProcDiagRatio
count,5012.000000,3724.000000,5012.000000,5012.000000,5012.000000,3724.000000
mean,103.299481,8.093726,0.000696,0.007527,0.000451,0.000022
std,275.481109,1.124965,0.028418,0.023152,0.014373,0.000865
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,11.000000,7.666667,0.000000,0.000000,0.000000,0.000000
50%,31.000000,8.250000,0.000000,0.000000,0.000000,0.000000
75%,85.000000,9.000000,0.000000,0.006944,0.000000,0.000000
max,8240.000000,10.000000,2.000000,0.500000,1.000000,0.050000

In [71]:
provider_final = inpatient_provider.merge(
    outpatient_provider,
    on='Provider',
    how='outer'
)

In [72]:
provider_final = provider_final.fillna(0)

In [73]:
provider_final.shape

(5410, 13)

In [74]:
provider_final.head()

,Provider,In_TotalClaims,In_AvgDiagnosisCount,In_AvgProcedureCount,In_PctFullDiagnosis,In_PctHighProcedure,In_AvgProcDiagRatio,Out_TotalClaims,Out_AvgDiagnosisCount,Out_AvgProcedureCount,Out_PctFullDiagnosis,Out_PctHasProcedure,Out_AvgProcDiagRatio
0,PRV51001,5.0,7.200000,0.600000,0.000000,0.0,0.068571,20.0,9.000000,0.0,0.000000,0.0,0.0
1,PRV51003,62.0,8.112903,0.774194,0.064516,0.0,0.093941,70.0,8.444444,0.0,0.014286,0.0,0.0
2,PRV51004,0.0,0.000000,0.000000,0.000000,0.0,0.000000,149.0,7.333333,0.0,0.006711,0.0,0.0
3,PRV51005,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1165.0,8.060976,0.0,0.007725,0.0,0.0
4,PRV51007,3.0,7.333333,0.333333,0.000000,0.0,0.041667,69.0,9.500000,0.0,0.028986,0.0,0.0

In [75]:
provider_final.describe()

,In_TotalClaims,In_AvgDiagnosisCount,In_AvgProcedureCount,In_PctFullDiagnosis,In_PctHighProcedure,In_AvgProcDiagRatio,Out_TotalClaims,Out_AvgDiagnosisCount,Out_AvgProcedureCount,Out_PctFullDiagnosis,Out_PctHasProcedure,Out_AvgProcDiagRatio
count,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000,5410.000000
mean,7.481331,3.131036,0.284459,0.037720,0.008952,0.033084,95.700000,5.571356,0.000645,0.006973,0.000417,0.000015
std,23.704217,3.983054,0.425382,0.104856,0.045008,0.051228,266.520526,3.863507,0.027353,0.022370,0.013835,0.000718
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,7.750000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,8.000000,0.656250,0.000000,0.000000,0.072002,77.000000,8.600000,0.000000,0.005736,0.000000,0.000000
max,516.000000,10.000000,3.000000,1.000000,1.000000,0.600000,8240.000000,10.000000,2.000000,0.500000,1.000000,0.050000

In [76]:
provider_final = provider_final.merge(
    df_provider[['Provider', 'PotentialFraud']],
    on = 'Provider',
    how = 'left'
)

In [77]:
# covert yes to 1 and no to 0 in the provider table
provider_final['PotentialFraud'] = provider_final['PotentialFraud'].map({'Yes': 1, 'No': 0})

In [78]:
provider_final.to_csv("provider_fraud_features.csv", index=False)

In [79]:
df_provider['Provider'].nunique()

5410

In [80]:
df_provider.columns

Index(['Provider', 'PotentialFraud'], dtype='object')

In [81]:
provider_final['PotentialFraud'].value_counts()

PotentialFraud
0    4904
1     506
Name: count, dtype: int64

In [82]:
df_beneficiary.head()

,BeneID,DOB,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,isDead
0,BENE11001,1943-01-01,1,1,0,39,230,12,12,1,...,1,1,2,1,1,36000,3204,60,70,0
1,BENE11002,1936-09-01,2,1,0,39,280,12,12,2,...,2,2,2,2,2,0,0,30,50,0
2,BENE11003,1936-08-01,1,1,0,52,590,12,12,1,...,2,1,2,2,2,0,0,90,40,0
3,BENE11004,1922-07-01,1,1,0,39,270,12,12,1,...,1,1,1,1,2,0,0,1810,760,0
4,BENE11005,1935-09-01,1,1,0,24,680,12,12,2,...,1,2,2,2,2,0,0,1790,1200,0

In [83]:
df_beneficiary.columns

Index(['BeneID', 'DOB', 'Gender', 'Race', 'RenalDiseaseIndicator', 'State',
       'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'isDead'],
      dtype='object')