In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns
import sklearn

In [11]:
df = pd.read_csv("../training_notebook/provider_fraud_features.csv")

In [12]:
df_beneficiary = pd.read_csv(r'..//data//Train_Beneficiarydata-1542865627584.csv')
df_inpatient = pd.read_csv(r'..//data//Train_Inpatientdata-1542865627584.csv')
df_outpatient = pd.read_csv(r'..//data//Train_Outpatientdata-1542865627584.csv')

In [13]:
df_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,...,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,...,2,1,2,2,2,2,0,0,1790,1200

In [14]:
df_beneficiary.isnull().sum()

BeneID                                  0
DOB                                     0
DOD                                137135
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
dtype: int64

In [15]:
df_beneficiary['isDead'] = df_beneficiary['DOD'].notna().astype(int)

In [16]:
df_beneficiary.drop(columns='DOD', inplace = True)

In [17]:
df_beneficiary.head()

,BeneID,DOB,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,isDead
0,BENE11001,1943-01-01,1,1,0,39,230,12,12,1,...,1,1,2,1,1,36000,3204,60,70,0
1,BENE11002,1936-09-01,2,1,0,39,280,12,12,2,...,2,2,2,2,2,0,0,30,50,0
2,BENE11003,1936-08-01,1,1,0,52,590,12,12,1,...,2,1,2,2,2,0,0,90,40,0
3,BENE11004,1922-07-01,1,1,0,39,270,12,12,1,...,1,1,1,1,2,0,0,1810,760,0
4,BENE11005,1935-09-01,1,1,0,24,680,12,12,2,...,1,2,2,2,2,0,0,1790,1200,0

In [18]:
df_beneficiary.isnull().sum()

BeneID                             0
DOB                                0
Gender                             0
Race                               0
RenalDiseaseIndicator              0
State                              0
County                             0
NoOfMonths_PartACov                0
NoOfMonths_PartBCov                0
ChronicCond_Alzheimer              0
ChronicCond_Heartfailure           0
ChronicCond_KidneyDisease          0
ChronicCond_Cancer                 0
ChronicCond_ObstrPulmonary         0
ChronicCond_Depression             0
ChronicCond_Diabetes               0
ChronicCond_IschemicHeart          0
ChronicCond_Osteoporasis           0
ChronicCond_rheumatoidarthritis    0
ChronicCond_stroke                 0
IPAnnualReimbursementAmt           0
IPAnnualDeductibleAmt              0
OPAnnualReimbursementAmt           0
OPAnnualDeductibleAmt              0
isDead                             0
dtype: int64

In [19]:
df_beneficiary.columns

Index(['BeneID', 'DOB', 'Gender', 'Race', 'RenalDiseaseIndicator', 'State',
       'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'isDead'],
      dtype='object')

In [20]:
df_beneficiary['Age'] = 2010 - pd.to_datetime(df_beneficiary['DOB']).dt.year

In [21]:
# Identify chronic condition columns
chronic_cols = [
    col for col in df_beneficiary.columns
    if 'ChronicCond' in col or col == 'RenalDiseaseIndicator'
]

# Convert them to numeric (force non-numeric to NaN, then fill with 0)
df_beneficiary[chronic_cols] = df_beneficiary[chronic_cols].apply(
    pd.to_numeric, errors='coerce'
).fillna(0)

# Now safely compute ChronicCount
df_beneficiary['ChronicCount'] = df_beneficiary[chronic_cols].sum(axis=1)

In [22]:
df_beneficiary['TotalAnnualReimbursed'] = (df_beneficiary['IPAnnualReimbursementAmt'].fillna(0) + 
                                         df_beneficiary['OPAnnualReimbursementAmt'].fillna(0))

df_beneficiary['TotalAnnualDeductible'] = (df_beneficiary['IPAnnualDeductibleAmt'].fillna(0) + 
                                          df_beneficiary['OPAnnualDeductibleAmt'].fillna(0))

In [23]:
df_beneficiary.columns

Index(['BeneID', 'DOB', 'Gender', 'Race', 'RenalDiseaseIndicator', 'State',
       'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt', 'isDead', 'Age', 'ChronicCount',
       'TotalAnnualReimbursed', 'TotalAnnualDeductible'],
      dtype='object')

In [24]:
in_claims = df_inpatient[['Provider', 'BeneID']]
out_claims = df_inpatient[['Provider', 'BeneID']]

# Combine inpatient + outpatient claims
claims_df = pd.concat([in_claims, out_claims], axis=0)

# Remove duplicates
claims_df = claims_df.drop_duplicates().reset_index(drop=True)

print(claims_df.head())
print("Shape:", claims_df.shape)

   Provider     BeneID
0  PRV55912  BENE11001
1  PRV55907  BENE11001
2  PRV56046  BENE11001
3  PRV52405  BENE11011
4  PRV56614  BENE11014
Shape: (36616, 2)

In [25]:
provider_bene_map = claims_df[['Provider', 'BeneID']].drop_duplicates()

# Step 3: इस मैप को बेनिफिशियरी डेटा के साथ जोड़ें
provider_bene = provider_bene_map.merge(df_beneficiary, on='BeneID', how='left')

In [26]:
# STEP 1: make sure df_beneficiary has derived columns
df_beneficiary['DOB'] = pd.to_datetime(df_beneficiary['DOB'], errors='coerce')
df_beneficiary['Age'] = 2010 - df_beneficiary['DOB'].dt.year

chronic_cols = [
    col for col in df_beneficiary.columns
    if 'ChronicCond' in col or col == 'RenalDiseaseIndicator'
]

df_beneficiary[chronic_cols] = df_beneficiary[chronic_cols].apply(
    pd.to_numeric, errors='coerce'
).fillna(0)

df_beneficiary['ChronicCount'] = df_beneficiary[chronic_cols].sum(axis=1)

df_beneficiary['TotalAnnualReimbursed'] = (
    df_beneficiary['IPAnnualReimbursementAmt'].fillna(0) +
    df_beneficiary['OPAnnualReimbursementAmt'].fillna(0)
)

df_beneficiary['TotalAnnualDeductible'] = (
    df_beneficiary['IPAnnualDeductibleAmt'].fillna(0) +
    df_beneficiary['OPAnnualDeductibleAmt'].fillna(0)
)

# STEP 2: provider–beneficiary mapping (claims_df MUST exist)
provider_bene_map = claims_df[['Provider', 'BeneID']].drop_duplicates()

# STEP 3: merge beneficiary features INTO provider_bene
provider_bene = provider_bene_map.merge(
    df_beneficiary[
        ['BeneID', 'Age', 'ChronicCount',
         'TotalAnnualReimbursed', 'TotalAnnualDeductible']
    ],
    on='BeneID',
    how='left'
)

# STEP 4: now aggregation will work
bene_provider_agg = provider_bene.groupby('Provider').agg(
    Bene_UniqueCount=('BeneID', 'nunique'),
    Bene_AvgAge=('Age', 'mean'),
    Bene_AvgChronicCount=('ChronicCount', 'mean'),
    Bene_PctChronic=('ChronicCount', lambda x: (x > 0).mean()),
    Bene_AvgReimbursed=('TotalAnnualReimbursed', 'mean'),
    Bene_AvgDeductible=('TotalAnnualDeductible', 'mean')
).reset_index()

In [27]:
provider_bene.head()

,Provider,BeneID,Age,ChronicCount,TotalAnnualReimbursed,TotalAnnualDeductible
0,PRV55912,BENE11001,67,15.0,36060,3274
1,PRV55907,BENE11001,67,15.0,36060,3274
2,PRV56046,BENE11001,67,15.0,36060,3274
3,PRV52405,BENE11011,96,16.0,5250,1388
4,PRV56614,BENE11014,72,17.0,21380,2236

In [28]:
bene_provider_agg = provider_bene.groupby('Provider').agg(
    Bene_UniqueCount=('BeneID', 'nunique'),
    Bene_AvgAge=('Age', 'mean'),
    Bene_AvgChronicCount=('ChronicCount', 'mean'),
    Bene_PctChronic=('ChronicCount', lambda x: (x > 0).mean()),
    Bene_AvgReimbursed=('TotalAnnualReimbursed', 'mean'),
    Bene_AvgDeductible=('TotalAnnualDeductible', 'mean')
).reset_index()

bene_provider_agg.head()

,Provider,Bene_UniqueCount,Bene_AvgAge,Bene_AvgChronicCount,Bene_PctChronic,Bene_AvgReimbursed,Bene_AvgDeductible
0,PRV51001,5,79.200000,16.000000,1.0,79252.000000,2799.200000
1,PRV51003,53,69.283019,17.320755,1.0,13676.792453,2058.339623
2,PRV51007,3,79.333333,16.333333,1.0,14123.333333,2606.000000
3,PRV51008,2,52.000000,18.500000,1.0,19070.000000,1767.000000
4,PRV51011,1,98.000000,15.000000,1.0,5590.000000,1158.000000

In [29]:
final_df = df.merge(
    bene_provider_agg,
    on='Provider',
    how='left'
)

final_df.fillna(0, inplace=True)

In [30]:
final_df.head()

,Provider,In_TotalClaims,In_AvgDiagnosisCount,In_AvgProcedureCount,In_PctFullDiagnosis,In_PctHighProcedure,In_AvgProcDiagRatio,Out_TotalClaims,Out_AvgDiagnosisCount,Out_AvgProcedureCount,Out_PctFullDiagnosis,Out_PctHasProcedure,Out_AvgProcDiagRatio,PotentialFraud,Bene_UniqueCount,Bene_AvgAge,Bene_AvgChronicCount,Bene_PctChronic,Bene_AvgReimbursed,Bene_AvgDeductible
0,PRV51001,5.0,7.200000,0.600000,0.000000,0.0,0.068571,20.0,9.000000,0.0,0.000000,0.0,0.0,0,5.0,79.200000,16.000000,1.0,79252.000000,2799.200000
1,PRV51003,62.0,8.112903,0.774194,0.064516,0.0,0.093941,70.0,8.444444,0.0,0.014286,0.0,0.0,1,53.0,69.283019,17.320755,1.0,13676.792453,2058.339623
2,PRV51004,0.0,0.000000,0.000000,0.000000,0.0,0.000000,149.0,7.333333,0.0,0.006711,0.0,0.0,0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
3,PRV51005,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1165.0,8.060976,0.0,0.007725,0.0,0.0,1,0.0,0.000000,0.000000,0.0,0.000000,0.000000
4,PRV51007,3.0,7.333333,0.333333,0.000000,0.0,0.041667,69.0,9.500000,0.0,0.028986,0.0,0.0,0,3.0,79.333333,16.333333,1.0,14123.333333,2606.000000

In [31]:
final_df.columns

Index(['Provider', 'In_TotalClaims', 'In_AvgDiagnosisCount',
       'In_AvgProcedureCount', 'In_PctFullDiagnosis', 'In_PctHighProcedure',
       'In_AvgProcDiagRatio', 'Out_TotalClaims', 'Out_AvgDiagnosisCount',
       'Out_AvgProcedureCount', 'Out_PctFullDiagnosis', 'Out_PctHasProcedure',
       'Out_AvgProcDiagRatio', 'PotentialFraud', 'Bene_UniqueCount',
       'Bene_AvgAge', 'Bene_AvgChronicCount', 'Bene_PctChronic',
       'Bene_AvgReimbursed', 'Bene_AvgDeductible'],
      dtype='object')

In [32]:
final_df.to_csv("final_data.csv", index = False)

In [33]:
final_df.columns

Index(['Provider', 'In_TotalClaims', 'In_AvgDiagnosisCount',
       'In_AvgProcedureCount', 'In_PctFullDiagnosis', 'In_PctHighProcedure',
       'In_AvgProcDiagRatio', 'Out_TotalClaims', 'Out_AvgDiagnosisCount',
       'Out_AvgProcedureCount', 'Out_PctFullDiagnosis', 'Out_PctHasProcedure',
       'Out_AvgProcDiagRatio', 'PotentialFraud', 'Bene_UniqueCount',
       'Bene_AvgAge', 'Bene_AvgChronicCount', 'Bene_PctChronic',
       'Bene_AvgReimbursed', 'Bene_AvgDeductible'],
      dtype='object')

In [34]:
final_df.shape

(5410, 20)